/* --------------------
        全体的
-------------------- */

:root {
  --theme-color: #32b2a5;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  font-family: sans-serif;
  background-image: url(https://cdn.discordapp.com/attachments/900280405444399104/1062226309750722560/untitled2_2_2.png);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;
  background-size: 525px 200px;
}

/* --------------------
        見出し
-------------------- */
header{
  /* background-color: #faf8f8; */
}

.headerInner{
  width: 650px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}